.miahui-accordion {
  width: 100%;
}

.miahui-accordion-item {
  border-bottom: 1px solid var(--miahui-border);
}

.miahui-accordion-trigger {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  font-weight: 500;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  svg {
    height: 1rem;
    width: 1rem;
    flex-shrink: 0;
    transition: transform 200ms;
  }

  &[data-state="open"] svg {
    transform: rotate(180deg);
  }
}

.miahui-accordion-content {
  overflow: hidden;
  font-size: 0.875rem;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &[data-state="closed"] {
    animation: accordionUp 200ms ease-out;
  }

  &[data-state="open"] {
    animation: accordionDown 200ms ease-out;
  }

  > div {
    padding-bottom: 1rem;
    padding-top: 0;
  }
}

@keyframes accordionDown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
}

@keyframes accordionUp {
  from {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

