.miahui-breadcrumb {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.375rem;
    word-break: break-word;
    font-size: 0.875rem;
    color: hsl(var(--muted-foreground));
  }

  &__item {
    display: inline-flex;
    align-items: center;
    gap: 0.375rem;
  }

  &__link {
    transition: color 0.2s;

    &:hover {
      color: hsl(var(--foreground));
    }
  }

  &__page {
    font-weight: normal;
    color: hsl(var(--foreground));
  }

  &__separator {
    display: flex;
    align-items: center;

    svg {
      height: 0.875rem;
      width: 0.875rem;
    }
  }

  &__ellipsis {
    display: flex;
    height: 2.25rem;
    width: 2.25rem;
    align-items: center;
    justify-content: center;

    svg {
      height: 1rem;
      width: 1rem;
    }
  }
}

