.miahui-breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.375rem;
  word-break: break-word;
  font-size: 0.875rem;
  color: hsl(var(--muted-foreground));
}

.miahui-breadcrumb__item {
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
}

.miahui-breadcrumb__link {
  transition: color 0.2s;
}

.miahui-breadcrumb__link:hover {
  color: hsl(var(--foreground));
}

.miahui-breadcrumb__page {
  font-weight: normal;
  color: hsl(var(--foreground));
}

.miahui-breadcrumb__separator {
  display: flex;
  align-items: center;
}

.miahui-breadcrumb__separator svg {
  height: 0.875rem;
  width: 0.875rem;
}

.miahui-breadcrumb__ellipsis {
  display: flex;
  height: 2.25rem;
  width: 2.25rem;
  align-items: center;
  justify-content: center;
}

.miahui-breadcrumb__ellipsis svg {
  height: 1rem;
  width: 1rem;
}

