.miahui-image {
  object-fit: cover;
  max-width: 100%;
  height: auto;

  &--fill {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--contain {
    object-fit: contain;
  }

  &--cover {
    object-fit: cover;
  }

  &--none {
    object-fit: none;
  }

  &--scale-down {
    object-fit: scale-down;
  }
}

