.miahui-radio-group {
  display: grid;
  gap: 0.5rem;

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__input {
    aspect-ratio: 1;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 1px solid hsl(var(--primary));
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: all 0.2s;

    &:checked {
      background-color: hsl(var(--primary));
      border-color: hsl(var(--primary));
      background-image: radial-gradient(circle, hsl(var(--primary-foreground)) 40%, transparent 40%);
    }

    &:focus {
      outline: none;
      ring: 2px;
      ring-color: hsl(var(--ring));
      ring-offset: 2px;
      ring-offset-color: hsl(var(--background));
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

