.miahui-select {
  display: flex;
  height: 2.5rem;
  width: 100%;
  border-radius: calc(var(--radius) - 2px);
  border: 1px solid hsl(var(--input));
  background-color: hsl(var(--background));
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  outline: none;
  transition: all 0.2s;
}

.miahui-select:focus {
  outline: none;
  ring: 2px;
  ring-color: hsl(var(--ring));
  ring-offset: 2px;
  ring-offset-color: hsl(var(--background));
}

.miahui-select:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.miahui-select option {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

