.miahui-slider {
  position: relative;
  display: flex;
  width: 100%;
  touch-action: none;
  user-select: none;
  align-items: center;
}

.miahui-slider__input {
  position: relative;
  height: 0.5rem;
  width: 100%;
  cursor: pointer;
  appearance: none;
  border-radius: 9999px;
  background-color: hsl(var(--secondary));
  outline: none;
}

.miahui-slider__input::-webkit-slider-thumb {
  appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: hsl(var(--primary));
  border: 2px solid hsl(var(--background));
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.miahui-slider__input::-moz-range-thumb {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: hsl(var(--primary));
  border: 2px solid hsl(var(--background));
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.miahui-slider__track {
  pointer-events: none;
  position: absolute;
  height: 0.5rem;
  border-radius: 9999px;
  background-color: hsl(var(--primary));
}

